
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layout-container">
    <div class="container">
        <h2>پرسش و پاسخ</h2>
    
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">مزایای استفاده از کارشناس چیست؟</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        برخی از مزایای خدمت فروش خودرو سفارشی برای فروشندگان خودرو شامل فروش خودرو به قیمت، عدم صرف زمان برای بازدیدهای مکرر، راحتی از دست دلالان و خریداران حرفه‌ای، سرعت عمل در فروش و اطمینان حقوقی و عقد قولنامه معتبر می‌شود.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">چگونه درخواست کارشناس بدهم؟</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        کافیست فرم درخواست کارشناس را پر کرده و یا با شماره های داخل سایت تماس حاصل فرمایید.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">آیا هزینه درخواست کارشناس با توجه به نوع ماشین متغیر است؟</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                      بله با توجه به نوع ماشین،سال ساخت و... هزینه ها متغیر است. 
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
</div>