
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container layout-container" >
    <h3>
       صفحه مورد نظر شما یافت نشد
    </h3>
    <h4>
        متاسفانه صفحه مورد نظر شما یافت نگرید!
    </h4>
    <h6>@Html.ActionLink("بازشگت به صفحه اصلی", "Index", "Home")</h6>
    <br />
    <br />
</div>

