<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentGatewayImplementationServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentGatewayImplementationServiceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.zarinpal.com/pg/services/WebGate/service"
                binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplementationServiceBinding"
                contract="ZarinPalService.PaymentGatewayImplementationServicePortType"
                name="PaymentGatewayImplementationServicePort" />
        </client>
    </system.serviceModel>
</configuration>