@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layout-container">
    <div class="container">
        <h2>خواندنی ها</h2>
        <p class="ex1">
            تیم کارشناسی خودرو پایتخت به شما کمک خواهد کرد تا کارشناسی دقیق و مطمئنی از خودروی خود داشته باشید.
            با تکیه بر تجربه کارشناسان خودروی پایتخت در خصوص کارشناسی بدنه و کارشناسی فنی خودرو، با اطمینان خاطر خودرو دست دوم خود را تهیه نمایید. تمام مراحل کارشناسی خودرو توسط پایتخت با استفاده از تجهیزات دیجیتال انجام می شود. جهت بررسی وضعیت بدنه، سلامت اجزاء شامل رنگ شدگی یا تعویض شدگی و نیز صدمات وارده به شاسی، سقف، ستونها، سپرها و …. مورد بررسی و ارزیابی قرار می گیرد.
            بررسی وضعیت فنی خودرو با استفاده از دستگاه دیاگ ۲۰۱۷ انجام گرفته که سلامت موتور، گیربکس، سنسورها، آپشن ها و کلیه سیستمهای الکترونیک خودرو مورد بررسی و ارزیابی قرار می گیرد. همچنین در این مرحله وضعیت عملکرد و سلامت موتور، گیرکس، جلوبندی، ترمز و فرمان نیز بررسی خواهد شد.
            پس از انجام کارشناسی فنی و بدنه خودرو توسط تیم کارشناس پایتخت، گزارش کارشناسی خودرو (برگه سلامت خودرو) با سربرگ پایتخت تهیه و تقدیم متقاضی خواهد شد. لازم به ذکر است که کارشناسی خودرو توسط پایتخت به صورت سیار و در محل متقاضی انجام می گردد لذا حداقل 30 دقیقه زودتر با تیم ما تماس بگیرید تا کارشناس خودرو به موقع در محل قرار حاضر شود.

            اقدامات تخصصی  :

            مشاوره رایگان
            انجام کارشناسی در محل مورد نظر شما
            تشخیص رنگ شدگی خودرو و بررسی سلامت بدنه
            تشخیص قطعات تعویضی و بررسی میزان افت ضریب ایمنی سرنشینان خودرو
            کشف معایب پنهان اقدامات صافکاری و نقاشی بر روی بدنه خودرو
            تست سلامت فنی ، موتور وگیربکس
            تست سلامت سیستم تعلیق ، هیدرولیک و ترمز
            و تعیین تقریبی میزان کارکرد خودرو
        </p>
    </div>
</div>

