@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container layout-container">
    <h2>تماس با ما</h2>
    <h4>آدرس</h4>
    <div>
        تهران-عباس آباد-خیابان میرزای شیرازی-کوچه 12-پلاک 20
    </div>
    <h4>
        تلفن
    </h4>
    <div>
        <p>
            <bdo dir="ltr">+98 21 88927068</bdo>
        </p>
        <p>
            <bdo dir="ltr">+98 21 88934578</bdo>
        </p>
    </div>
    <h4>
        آدرس ایمیل
    </h4>
    <div>
        <a href="mailto:info@karshenaspaytakht.com">info@karshenaspaytakht.com</a>
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d809.8087778789192!2d51.41416112917637!3d35.720435887571576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e011f2cf59a05%3A0x920b62a92a5f4bd6!2z2qnYp9ix2LTZhtin2LMg2b7Yp9uM2KrYrtiq!5e0!3m2!1sen!2s!4v1543484243224" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
