@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container layout-container">
    <h2>تماس با ما</h2>
    <h4>آدرس</h4>
    <div>
        تهران-عباس آباد-خیابان میرزای شیرازی-کوچه 12-پلاک 20
    </div>
    <h4>
        تلفن
    </h4>
    <div>
        <p>
            +98 21 88927068
        </p>
        <p>
            +98 21 88934587
        </p>
    </div>
    <h4>
        آدرس ایمیل
    </h4>
    <div>
        <a href="mailto:info@karshenaspaytakht.com">info@karshenaspaytakht.com</a>
    </div>
</div>
