<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>مرکز کارشناسان پایتخت</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="@Html.GetMetaKeyWord()" />
    <meta name="description" content="سامانه درخواست کارشناس برای خودرو در کمترین زمان ممکن با هزینه مناسب" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="~/Content/slick/slick.css" />
    <link rel="stylesheet" href="~/Content/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/Content/animate.css" />
    <link rel="stylesheet" href="~/Content/iconfont.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="~/Content/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/bootsnav.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/responsive.css" />
    <link rel="stylesheet" href="~/Content/persian-datepicker.css" />
    <script src="~/Scripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
    <div class="culmn">
        <nav class="navbar navbar-default bootsnav navbar-fixed">
            <div class="navbar-top bg-grey fix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="navbar-callus text-left sm-text-center">
                                <ul class="list-inline">
                                    <li>
                                        <span>
                                            برای ارتباط سریع با کارشناسان پایتخت بر روی شماره ها کلیک نمایید
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="navbar-callus text-right sm-text-center">
                                <ul class="list-inline">
                                    <li><i class="fa fa-phone"></i><a href="tel:+982188934587">88934587</a> <a href="tel:+982188927068">88927068</a></li>
                                    <li><a href="mailto:info@karshenaspaytakht.com"><i class="fa fa-envelope-o"></i> </a></li>
                                    <li><a href="http://instagram.com/karshenaspaytakht"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="~/">
                        <img src="~/Content/images/logo.png" class="logo" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/">خانه</a></li>
                        <li><a href="~/Audit">کارشناسی خودرو</a></li>
                        <li><a href="~/Inspection">گزارش کارشناسی</a></li>
                        <li><a href="~/Readings">خواندنی ها</a></li>
                        <li><a href="~/Blog">بلاگ</a></li>
                        <li><a href="~/FAQ">پرسش و پاسخ</a></li>
                        <li><a href="~/AboutUs">درباره ما</a></li>
                        <li><a href="~/ContactUs">تماس با ما</a></li>
                        @*@Html.Partial("_LoginPartial")*@
                    </ul>
                </div>
            </div>
        </nav>
        @RenderBody()
        <footer id="contact" class="footer action-lage bg-black p-top-80">
            <div class="container">
                <div class="row">
                    <div class="widget_area">
                        <div class="col-md-6">
                            <div class="widget_item widget_about">
                                <h5 class="text-white">ثبت درخواست کارشناسی خودرو</h5>
                                <p class="m-top-20">
                                    سامانه درخواست کارشناس برای خودرو در کمترین زمان ممکن با هزینه مناسب
                                </p>
                                <div class="widget_ab_item m-top-30">
                                    <div class="item_icon"><i class="fa fa-location-arrow"></i></div>
                                    <div class="widget_ab_item_text">
                                        <h6 class="text-white">آدرس</h6>
                                        <p>
                                            تهران-عباس آباد-خیابان میرزای شیرازی-کوچه 12-پلاک 20
                                        </p>
                                    </div>
                                </div>
                                <div class="widget_ab_item m-top-30">
                                    <div class="item_icon"><i class="fa fa-phone"></i></div>
                                    <div class="widget_ab_item_text">
                                        <h6 class="text-white">تلفن :</h6>
                                        <p><bdo dir="ltr">+98 21 88927068</bdo> </p>
                                        <p><bdo dir="ltr">+98 21 88934587</bdo> </p>
                                    </div>
                                </div>
                                <div class="widget_ab_item m-top-30">
                                    <div class="item_icon"><i class="fa fa-envelope-o"></i></div>
                                    <div class="widget_ab_item_text">
                                        <h6 class="text-white">آدرس ایمیل :</h6>
                                        <p>info@karshenaspaytakht.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="widget_item widget_service sm-m-top-50">
                                <h5 class="text-white">میانبر</h5>
                                <ul class="m-top-20">
                                    <li class="m-top-20"><a href="~/Home">خانه <i class="fa fa-angle-left"></i></a></li>
                                    <li class="m-top-20"><a href="~/Audit">درخواست کارشناس <i class="fa fa-angle-left"></i></a></li>
                                    <li class="m-top-20"><a href="~/Reads">خواندنی ها <i class="fa fa-angle-left"></i></a></li>
                                    <li class="m-top-20"><a href="~/Blog">بلاگ <i class="fa fa-angle-left"></i></a></li>
                                    <li class="m-top-20"><a href="~/QandA">پرسش و پاسخ <i class="fa fa-angle-left"></i></a></li>
                                    <li class="m-top-20"><a href="~/AboutUs">درباره ما <i class="fa fa-angle-left"></i></a></li>
                                    <li class="m-top-20"><a href="~/ContactUs">تماس با ما <i class="fa fa-angle-left"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_footer fix bg-mega text-center p-top-40 p-bottom-30 m-top-80">
                <div class="col-md-12">
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/vendor/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Content/slick/slick.js"></script>
    <script src="~/Content/slick/slick.min.js"></script>
    <script src="~/Scripts/jquery.collapse.js"></script>
    <script src="~/Scripts/bootsnav.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="https://unpkg.com/persian-date@1.0.5/dist/persian-date.min.js"></script>
    <script src="https://unpkg.com/persian-datepicker@1.1.3/dist/js/persian-datepicker.min.js"></script>
    @RenderSection("scripts", required: false)
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128043598-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128043598-1');
    </script>
    <script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "WebSite",
        "name" : "کارشناس پایتخت",
        "url" : "http://karshenaspaytakht.com/",
        "sameAs" : [
        "http://instagram.com/karshenaspaytakht"
        ]
        }
    </script>
</body>
</html>
