@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layout-container">
    <div class="container">
        <h2>خواندنی ها</h2>

        <h1>This is heading 1</h1>
        <p>This is an ordinary paragraph. Notice that this text is blue. The default text color for a page is defined in the body selector.</p>
    </div>
</div>