@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layout-container">
    <div class="container reads">
        <h3>از حرارت زیاد پیشرانه خودرویمان راضی باشیم یا نگران؟</h3>

        
        <p>آیا تا به حال پس از یک رانندگی طولانی، به داغ شدن کاپوت خودروتان دقت کردید؟ آیا می‌دانید این حرارت در خودروهای پیشرفته بیش‌تر است؟ می‌توانید با یک پیکان و یک تندر 90 آزمایش کنید! در این مقاله تلاش کرده‌ام پاسخی برای این پرسش مهم ارائه کنم: “از داغی زیاد پیشرانه خودرومان راضی باشیم یا نگران؟”</p>

        <h3>حرارت پیشرانه ناشی از چیست؟</h3>

        <p>
            قانون دوم ترمودینامیک می‌گوید: “هیچ ماشین گرمایی نمی‌تواند دارای بازده 100% باشد.” (در ترمودینامیک به هر وسیله‌ای که از گرما، کار تولید کند ماشین گرمایی می‌گویند). بنابراین توان خودروی شما چه با پیشرانه درون‌سوز، چه با پیشرانه الکتریکی یا هر منبع دیگری تأمین شود، با قطعیت می‌توان گفت تبدیل 100% انرژی به کار مفید، امکان‌پذیر نخواهد بود. گرما همواره به‌عنوان اثر جانبی فرآیند تبدیل انرژی تولید می‌شود. در پیشرانه‌های متداول فعلی تنها 20 تا 30 درصد از انرژی حاصل از احتراق سوخت، تبدیل به کار مفید می‌شود. از باقی انرژی حدوداً نیمی از طریق سیستم خنک‌کاری دفع می‌شود؛ نیمی دیگر به‌صورت گازهای داغ از اگزوز خودرو خارج می‌شود.
        </p>

        <h3>حرارت پیشرانه مفید است یا مضر؟</h3>

        <p>
            برای پاسخ دادن به این سؤال بهتر است ابتدا این حرارت را به دو بخش تقسیم کنیم: گرمای مفید، حرارتی که برای گرم کردن پیشرانه در شروع به کار (Warm up)، همچنین برای گرمایش اتاق خودرو در زمستان استفاده می‌شود. گرمای ناخواسته، پس‌ازاین که پیشرانه به محدوده دمای کاری بهینه رسید، باید از سیستم دفع شود.
        </p>

        <h3>
            دمای مناسب برای کارکرد پیشرانه چند درجه است؟
        </h3>

        <p>
            عجب سؤال زیبایی! اما دمای مناسب از چه دیدگاهی؟ مهندس ترمودینامیک پیشرانه؟ مهندس مواد پیشرانه یا مهندسین بخش احتراق؟ از دیدگاه بازده حرارتی پیشرانه “دمای مایع خنک‌کاری هرچه بالاتر بازده حرارتی پیشرانه بالاتر!”. اگر دمای مایع خنک‌کاری هنگام ورود به پیشرانه، به‌جای 70 درجه، 100 درجه سانتی‌گراد باشد، ظرفیت کم‌تری برای جذب حرارت از دیواره‌های محفظه احتراق داشته و بدین ترتیب پیشرانه شما می‌تواند کسر بیش‌تری از انرژی سوخت را به کار تبدیل کند و این یعنی مصرف سوخت کمتر!

            از دیدگاه مهندسین احتراق اوضاع کمی پیچیده‌تر است. سرد بودن بیش از اندازه دیواره‌های محفظه احتراق موجب خاموشی شعله می‌شود. داغ بودن بیش از اندازه فلزات محفظه احتراق هم زمان‌بندی احتراق را برهم می‌زند؛ احتراق در پیشرانه شما باید با جرقه زدن شمع که از واحد پردازش فرمان می‌گیرد آغاز شود، اما وجود گوشه‌های داغ در محفظه احتراق می‌تواند به‌طور ناخواسته موجب آغاز احتراق شود. این پدیده با عنوان “احتراق ضربه‌ای” یا “کوبش” از مهم‌ترین چالش‌های طراحان پیشرانه‌های اشتعال جرقه‌ای است. ضمناً داغ بودن ساختمان پیشرانه موجب گرمایش هوای ورودی به محفظه احتراق نیز می‌شود. گرم شدن هوا باعث می‌شود جرم کم‌تری از آن در محفظه احتراق جا شده و قدرت تولیدی پیشرانه کاهش یابد (شاید حالا متوجه یکی از دلایل مهم استفاده از پلاستیک برای ساخت چندراهی ورود هوا به پیشرانه شده باشید). علاوه بر موارد فوق، دمای محفظه احتراق به‌شدت در میزان انتشار و نوع آلاینده‌های حاصل از احتراق مؤثر است.
            دمای روغن هم تابع دمای مایع خنک‌کاری است؛ روغن در دمای پایین سفت بوده و موجب اتلاف توان به‌وسیله اصطکاک می‌شود، از سوی دیگر دمای بالا نیز باعث نازک شدن لایه روغن بر سطح فلزات و افزایش سایش می‌شود.
            برای کارکرد ایمن از نظر مواد، دما می‌بایست پایین‌تر از 400 درجه سانتی‌گراد برای چدن و پایین‌تر از 300 درجه سانتی‌گراد برای آلیاژ آلومینیوم نگه داشته شود. بیش‌ترین دمای گاز در محفظه احتراق یک پیشرانه درون‌سوز در حدود 2000 درجه سانتی‌گراد می‌باشد. البته چون احتراق به شکل پیوسته انجام نمی‌شود، دمای قطعات به‌مراتب پایین‌تر از بیش‌ترین دمای گازهای سوخته است؛ اما خنک‌کاری ضعیف پیشرانه همچنان تهدیدی جدی برای فلزات ساختمان پیشرانه در نقاط بحرانی است.
            شما هم وقتی در یک صبح زمستانی خانه را ترک کرده و خودروی خود را روشن کرده و با دندان‌هایی به هم فشرده منتظر بالا رفتن نشانگر دمای آب و روشن کردن بخاری هستید، قطعاً علاقه‌مندید دمای مایع خنک‌کاری به‌سرعت افزایش یابد. البته گرمای زیاد پیشرانه هم در صورت عایق‌بندی حرارتی نامناسب اتاق خودرو، می‌تواند در تابستان حسابی کلافه‌تان کند.

        </p>

        <h3>
            حرف آخر
        </h3>

        <p>
            طراحان با در نظر گرفتن بسیاری از عوامل، دمای مشخصی را برای مایع خنک‌کاری پیشرانه خودروتان طراحی کرده‌اند؛ آن‌ها با هدف افزایش بازده حرارتی علاقه‌مند هستند این دما را ضمن پیشرفت سامانه‌های کنترلی سیستم سوخت‌رسانی و همچنین بهبود کیفیت مواد به‌کاررفته در محفظه احتراق، تا حد ممکن بالاتر ببرند. اخیراً شنیده‌ام برخی تعمیرکاران با حذف ترموستات از خودروی پراید -که موجب سرد کار کردن پیشرانه می‌شود- پایین آمدن آمپر درجه حرارت خودرو را به همراه مالک خودرو جشن می‌گیرند! به خاطر داشته باشید نه سردتر کار کردن پیشرانه جای خوشحالی دارد و نه گرم‌تر کار کردن آن؛ پیشرانه باید در دمایی که طراحانش برای آن تعیین کرده‌اند، کار کند. ریاضیدان آمریکایی ادوارد لورنز برای بیان اینکه اعمال تغییرات کوچک در شرایط اولیه سیستم‌های پیچیده، می‌تواند منجر به تغییرات بسیار بزرگ در نتایج شود، عنوان کرد “بال زدن یک پروانه در برزیل می‌تواند منجر به یک طوفان تورنادو در تگزاس آمریکا شود”. اگرچه ادوارد لورنز سررشته‌ای از پیشرانه‌های درون‌سوز نداشت، اما بگذارید من به شما بگویم در پیشرانهٔ خودروی شما اوضاع دقیقاً همین‌قدر پیچیده است! از هرگونه دست‌کاری خودسرانه در هریک از اجزای آن خودداری کنید.
        </p>
    </div>
</div>